.card-task {
  position: relative;
  z-index: 3;

  .card-background {
    height: 100%;
    width: 100%;
    background-color: #d1d1d1;
    z-index: -1;
    position: absolute;
    border-radius: 12px;
    top: 0;
    display: flex;
    align-items: center;
    transition: opacity 0.2s;
    justify-content: left;
    gap: 14px;
    padding: 20px;

    &.complete {
      justify-content: right;
    }

    .btn-style {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      &.edit {
        color: #8081d8;
      }

      &.delete {
        color: #d84242;
      }

      &.complete {
        color: #0e8b0e;
      }

      ion-icon {
        font-size: 30px;
      }

      span {
        font-size: 12px;
        font-style: italic;
        font-weight: 500;
      }
    }
  }

  .content {
    border-radius: 12px;
    padding: 24px 28px;
    margin: 16px 0;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #cecece;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: green;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--ion-color-light);
    transition: transform 0.2s ease-out;

    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .title {
        margin: 0;
        font-size: 16px;
        text-wrap: pretty;
        font-weight: 700;
      }

      .description {
        margin: 0;
        font-size: 16px;
      }
    }

    .icon {
      font-size: 60px;
    }
  }
}