<app-header [title]="isEditMode() ? 'Editar tarea' : 'Crear tarea'" [showBack]="true"></app-header>

<ion-content>
  <div class="container-create-task contain-general">
    <div class="form">
      <ion-input class="input-style" label="Tarea" labelPlacement="floating" placeholder="Hacer tarea..."
        (ionInput)="inputTitle($event)" [value]="title()">
      </ion-input>

      <ion-select class="input-style" label="Prioridad" label-placement="floating" placeholder="Selecciona prioridad"
        okText="Listo" cancelText="Cancelar" (ionChange)="changePriority($event)" [value]="priority()">
        <ion-select-option value="high">Alta</ion-select-option>
        <ion-select-option value="medium">Media</ion-select-option>
        <ion-select-option value="low">Baja</ion-select-option>
      </ion-select>

      <div class="category">
        <ion-label class="label-style">Categoría</ion-label>
        <app-category-carousel [categories]="categories()" [selectable]="true" [selectedCategoryId]="selectedCategoryId()"
          (categoryClick)="handleCategory($event)">
        </app-category-carousel>
      </div>
    </div>

    <ion-button expand="block" class="btn-create-task" [disabled]="!isFormValid()" (click)="saveTask()">
      {{ isEditMode() ? 'Guardar cambios' : 'Crear tarea' }}
    </ion-button>
  </div>
</ion-content>