.contain-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 20px;

  .title-icon {
    font-size: 120px;
    position: absolute;
    color: green;
    top: -24px;
    right: -8px;
    transform: rotate(45deg);
    opacity: .6;
  }

  .title-section {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: var(--ion-color-primary);
  }

  .edit-button {
    cursor: pointer;
    text-decoration: underline;
    line-height: 24px;
  }
}