.container-home {
  max-width: 90%;
  margin: 20px auto;

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    .title {
      margin: 0;
      font-size: 32px;
      text-wrap: pretty;
      color: var(--ion-color-primary);
      font-weight: 700;
    }

    .description {
      margin: 0;
      font-size: 20px;
      text-wrap: balance;
    }
  }

  .title-section {
    color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 18px;
  }

  .categories {
    .slide {
      width: fit-content !important;
    }

    .category-card {
      width: fit-content;
      background-color: var(--ion-color-light);
      padding: 16px 32px;
      border-radius: 12px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      transition: transform 0.2s ease;

      .circle {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: center;
      }

      .icon {
        font-size: 40px;
        color: var(--ion-color-medium-tint);
        font-weight: 400;
      }

      .title {
        margin: 0;
        font-weight: 700;
      }

      .count {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
      }

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  .tasks {
    margin-top: 40px;

    .contain-title {
      display: flex;
      justify-content: space-between;
    }
  }
}

.contain-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  max-width: 70px;
}