<app-header title="Today Task"></app-header>
<ion-content [fullscreen]="true">
  <div class="container-home">
    <div class="header">
      <img src="assets/icons/todaytask.svg" alt="logo" class="logo" width="70px"/>
      <p class="description">Hoy tienes <b>{{pendingTasksCount()}} tarea{{pendingTasksCount() !== 1 ? 's' : '' }}
          pendiente{{pendingTasksCount() !== 1 ? 's' : '' }}</b></p>
    </div>

    <div class="categories">
      <section class="contain-button">
        <h3 class="title-section">Categorías</h3>
        <ion-button class="fab-button" aria-label="Crear categoría" (click)="navigateToCreateCategory()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </section>
      <div class="list">
        <app-category-carousel [categories]="categories()" (categoryClick)="handleCategory($event)">
        </app-category-carousel>
      </div>
    </div>
    <div class="tasks">
      <div class="contain-button">
        <h3 class="title-section">Tareas</h3>
        <ion-button aria-label="Crear tarea" (click)="navigateToCreateTask()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="list">
        @for(task of tasks(); track task.id) {
        <app-card-task [task]="task"></app-card-task>
        }@empty {
        <app-empty-state></app-empty-state>
        }
      </div>
    </div>
  </div>
</ion-content>