<app-header [title]="'Crear categoría'" [showBack]="true"></app-header>

<ion-content>
  <div class="container-create-category contain-general">
    <div class="form" ngNoForm>
      <ion-input class="input-style" label="Categoría" labelPlacement="floating" placeholder="Nueva categoría..."
        (ionInput)="inputName($event)" [value]="name()">
      </ion-input>

      <div class="colors">
        <ion-label class="label-style">Color</ion-label>
        <div class="color-options">
          @for(color of colors; track color) {
          <div class="color-circle" [style.background-color]="color.display" (click)="selectColor(color.value)"
            [class.selected]="selectedColor() === color.value">
          </div>
          }
        </div>
      </div>

      <div class="icons">
        <ion-label class="label-style">Icono</ion-label>

        <div class="icon-options">
          @for(icon of icons; track icon.value) {
          <button class="icon-item" [class.selected]="selectedIcon() === icon.value" (click)="selectIcon(icon.value)">

            <ion-icon [name]="icon.value"></ion-icon>
          </button>
          }
        </div>
      </div>
    </div>

    <section>
      <ion-button expand="block" class="btn-create-category" [disabled]="!isFormValid()" (click)="saveCategory()">
        {{ categoryId() ? 'Guardar cambios' : 'Crear categoría' }}
      </ion-button>
      @if(categoryId()) {
      <ion-button expand="block" class="btn-create-category" color="danger" (click)="deleteCategory()">
        Eliminar categoría
      </ion-button>
      }
    </section>
  </div>
</ion-content>